<html ng-app="contatosApp">
<head>
	<title>Contatos</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.1/angular.js"></script>
	<script type="text/javascript" src="{% static 'js/controllers.js' %}"></script>
</head>

<body>
	{% verbatim %}
	<center>
		<h2>Contatos</h2>
	        Buscar: <input ng-model="query">
		<table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->
		<!-- Table Header -->
		<thead>
			<tr>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Mfones</th>
				<th>Email</th>
			</tr>
		</thead>
		<!-- Table Body -->
		<tbody ng-controller="ContatoListCtrl">
	        	<tr ng-repeat="contato in contatos | filter:query ">
             			<td>{{contato.nome}}</td>
             			<td>{{contato.fone}}</td>
             			<td>{{contato.mfone}}</td>
             			<td>{{contato.email}}</td>
			</tr>
		</tbody>
	</center>
	<div ng-controller="ContatoEditCtrl"> </div>
	{% endverbatim %}
</body>
</html>
